*{
    margin:0;
    padding:0;
}

body{
    background: #E9FCF4;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor .header{
    background: #12203E;
    color: white;

}

.contenedor .contenido{
    background: yellow;
    color: black;
} 

.contenedor .sidebar{
    background: blue;
    color:rebeccapurple ;
}

.contenedor .widget1{
    background: yellow;
    color: violet;
}

.contenedor .widget2{
    background: yellowgreen;
    color: teal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor .footer{
    background: turquoise;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}